<div class="container">
  <form class="artist-form">
    <div class="panel panel-primary">
      <div class="panel-heading">Create a new Campaign</div>
      <div class="panel-body new-artist-form">
        <div class="input-group">
          <span>Artist Name</span>
          <select id="artistName" ng-model="admin.campaign.artistName">
            <option value="">---Please select---</option>
            <option ng-repeat="artist in admin.artists" value="{{artist.name}}">
              {{artist.name}}
            </option>
          </select>
        </div>
        <div class="input-group">
          <span>City</span>
          <input type="text" class="form-control" placeholder="City" ng-model="admin.campaign.city">
        </div>
        <div class="input-group">
          <span>State</span>
          <input type="text" class="form-control" placeholder="State" ng-model="admin.campaign.state">
        </div>
        <div class="input-group">
          <span>Description</span>
          <input type="text" class="form-control" placeholder="Description" ng-model="admin.campaign.description">
        </div>  
        <button type="submit" class="btn btn-primary" ng-click="admin.addCampaign()">Add New</button>
      </div>
    </div>
  </form>

  <!-- <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Artists:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="artist in admin.artists">
        <li><a href="#" uib-tooltip="{{artist.info}}">{{artist.name}}<button type="button" class="close" ng-click="admin.deleteArtist(artist)">&times;</button></a></li>
      </ul>
    </div>
  </div> -->
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Artist Name</th>
        <th>City</th>
        <th>State</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="campaign in admin.campaigns">
        <td>{{campaign.artistName}}</td>
        <td>{{campaign.city}}</td>
        <td>{{campaign.state}}</td>
        <td>{{campaign.description}}</td>
      </tr>
    </tbody>
  </table>
</div>