<div class="container">
  <div class="admin campaign">
    <button class="btn btn-info createBtn" ng-click="admin.createNewCampaign()" ng-show="!admin.createCampaignClicked">Create new campaign</button>
    <form class="adding-form" ng-show="admin.createCampaignClicked">
      <div class="panel panel-primary">
        <div class="panel-heading">Create a new Campaign</div>
        <div class="panel-body add-input-group">
          
          <div class="select-artist" ng-hide="admin.selectedArtistFlag">
            <h2>Select Artist</h2>
            <table class="table tb-artist">
              <thead class="thead-inverse">
                <tr>
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th class="td-mobile-hide">Info</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="artist in admin.artists" ng-click="admin.selectArtist(artist)">
                  <td><img src="{{artist.photo}}"></td>
                  <td>{{artist.name}}</td>
                  <td>{{artist.email}}</td>
                  <td class="td-mobile-hide">{{artist.info}}</td>
                  <td>$ {{artist.price}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="form" ng-show="admin.selectedArtistFlag">
            <h2>Input Campaign Info</h2>
            <div class="input-group">
              <span>City</span>
              <div class="input-box">
                <input type="text" class="form-control" placeholder="City" ng-model="admin.campaign.city">
                <p class="input-error" ng-show="admin.campaignCityRequired">City field is required</p>
              </div>
            </div>
            <div class="input-group">
              <span>State</span>
              <div class="input-box">
                <input type="text" class="form-control" placeholder="State" ng-model="admin.campaign.state">
                <p class="input-error" ng-show="admin.campaignStateRequired">State field is required</p>
              </div>
            </div>
            <div class="input-group">
              <span>Description</span>
              <div class="input-box">
                <textarea class="form-control info-box" rows="5" id="comment" placeholder="Description" ng-model="admin.campaign.description"></textarea>
              </div>
            </div>
            <div class="input-group">
              <span>Goals</span>
              <div class="input-box">
                <input type="text" class="form-control ticket-box" placeholder="100" ng-model="admin.campaign.goals">
                <p class="input-error" ng-show="admin.campaignTicketsRequired">Tickets field is required</p>
              </div>
            </div>

            <button class="btn btn-info" ng-click="admin.chooseArtist()">Choose another artist</button>
            <button type="submit" class="btn btn-primary" ng-click="admin.addCampaign()">Submit</button>
            <p class="successed" ng-show="admin.successFlag">Added successfully</p>
          </div>
          <button class="btn btn-danger" ng-click="admin.cancelCampaignCreate()">Cancel</button>
        </div>

      </div>
    </form>

    <div class="panel panel-primary">
      <div class="panel-heading">Campaign list</div>
      <div class="panel-body">
        <table class="table tb-campaign">
          <thead class="thead-inverse">
            <tr>
              <th>Artist Name</th>
              <th>City</th>
              <th>State</th>
              <th class="td-mobile-hide">Description</th>
              <th>Goals</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="campaign in admin.campaigns" ui-sref="campaignAdminInfo({campaignID: campaign._id})">
              <td>{{campaign.artistName}}</td>
              <td>{{campaign.city}}</td>
              <td>{{campaign.state}}</td>
              <td class="td-mobile-hide">{{campaign.description}}</td>
              <td>{{campaign.goals}}</td>
              <td>
                <a ng-click="admin.deleteCampaign(campaign)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
