@import 'campaign/campaign';

.trash { color:rgb(209, 91, 71); }

.admin {
	padding: 20px 0;
	.artistAddingForm {
		color: black;
		.photo {
			width: 100px;
		}
	}
	md-content {
		background-color: transparent !important;
		md-tabs {
			background: #f6f6f6;
		    border: 1px solid #e1e1e1;
		    md-tabs-wrapper {
		      	background: #3d3d3d; 
		      	md-tab-item {
					color: white;
				}
		    }
		    .md-tab {
		    	&.md-active {
		    		color: white;
		    	}
		    }
			color: black;
		}
	}
}

.admin-list {
	color: #000;
	li {
		a {
			text-decoration: none;
		}
	}
}

.user-list {
	li {
		display: flex;
		border: none;
		border-bottom: 1px lightgray solid;
		margin-bottom: 0;
		&:last-child { border-bottom: none; }

		.user-info {
			flex-grow: 1;
			color: #444;
		}
		.trash {
			display: flex;
			align-items: center;
			text-decoration: none;
		}
	}
}

.thead-inverse {
	background: #666;
	color: #fff;
}


@media only screen and (max-width : 414px) {
	.admin {
		padding: 20px 0;
		.adding-form {
			.input-group {
				.form-control {
					width: 100%;
				}
				span {
					line-height: 30px;
				}
			}
			.photo-select {
				.photo-upload {
					width: 100%;
				}
			}
		}
    .tb-artist {
      th, td {
        width: 25% !important;
      }
    }
    .tb-campaign {
      th, td {
        width: 20% !important;
        font-size: 0.8em;
      }
    }
	}
}
