@import 'campaign/campaign';

.trash { color:rgb(209, 91, 71); }

.admin {
	background-color: #666;
	background-image: url('/assets/images/bright-squares.png');
	padding: 20px 0;
	.adding-form {
		.input-group {
			width: 100%;
			color: black;
      		margin: 5px 0;
			line-height: 40px;
      		.input-box {
        		display: inline-block;
        		width: 50%;
        		.form-control {
          			height: 40px;
          			float: none;
          			&.info-box{
          			height: auto;
          		}
          		&.price-box{
            	width: 100px;
          		}
        	}
	        .input-error {
	          	color: red;
	          	line-height: 1;
	          	font-size: 0.8em;
	          	margin: 5px 0;
	        }
    	}
	    span {
			padding: 0 5px;
			display: inline-block;
			float: left;
			line-height: 40px;
			width: 200px;
		}
	}
	.photo-select {
		color: black;
		margin: 5px 0;
		span {
			width: 100px;
			display: inline-block;
			float: left;
			line-height: 40px;
			padding: 0 5px;
		}
		.photo-upload {
			display: inline-block;
			img {
				width: 100px;
				margin-right: 20px;
			}
		}
	}
	.add-input-group {
		.btn {
			margin: 10px 0;
		}
	}
	}
}

.admin-list {
	color: #000;
	li {
		a {
			text-decoration: none;
		}
	}
}

.user-list {
	li {
		display: flex;
		border: none;
		border-bottom: 1px lightgray solid;
		margin-bottom: 0;
		&:last-child { border-bottom: none; }

		.user-info {
			flex-grow: 1;
			color: #444;
		}
		.trash {
			display: flex;
			align-items: center;
			text-decoration: none;
		}
	}
}

.thead-inverse {
	background: #666;
	color: #fff;
}


@media only screen and (max-width : 414px) {
	.admin {
		padding: 20px 0;
		.adding-form {
			.input-group {
				.form-control {
					width: 100%;
				}
				span {
					line-height: 30px;
				}
			}
			.photo-select {
				.photo-upload {
					width: 100%;
				}
			}
		}
    .tb-artist {
      th, td {
        width: 25% !important;
      }
    }
    .tb-campaign {
      th, td {
        width: 20% !important;
        font-size: 0.8em;
      }
    }
	}
}
