footer {
  padding: 40px 0;
  background: #000;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  .copyright {
  	float: left;
  	p {
  		margin: 0;
  	}
  }
  .nav-right {
  	float: right;
  	a {
  		margin-left: 20px;
  		color: #7f7474;
  		font-size: 20px;
  		cursor: pointer;
  		&:hover {
  			color: white;
  		}
  	}
  }
}

@media only screen and (max-width: 420px) {
    footer  {
      padding: 20px 0;
      .copyright {
        display: none;
      }
    }
}