<div class="footer">
	<div class="container">
		<!-- <div class="col-md-8 col-md-offset-2">
			<div class="col-md-12">
				<div class="fb-comments" data-href="http://mjorkey.herokuapp.com/" data-width="100%" data-numposts="3"></div>
			</div>
		</div> -->
		<div class="copyright">
			<p><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2015. Entusic. All rights reserved.</p>
		</div>
		<div class="nav-right">
			<a><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a><i class="fa fa-instagram" aria-hidden="true"></i></a>
			<a><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
		</div>
	</div>
</div>
