$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-social/bootstrap-social.scss';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$bodyColor: #3d3d3d;
$screen-xs:	700px;
$screen-sm:	768px;
$screen-md:	992px;
$screen-lg:	1200px;

body {
	background: $bodyColor;
	color: #fff;
}

tbody {
	background: white;
}
// Component styles are injected through gulp
/* inject:scss */
@import 'admin/admin';
@import 'admin/campaign/campaign';
@import 'admin/campaign/info/info';
@import 'campaign/campaign';
@import 'campaign/checkout/subscribeModal/modal';
@import 'main/main';
@import 'modals/errorModal/errorModal';
@import 'modals/NotificationModal/notificationModal';
@import 'modals/subscribeModal/modal';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/navbar/navbar';
@import '../components/oauth-buttons/oauth-buttons';
/* endinject */
