$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-social/bootstrap-social.scss';
@import '~angular-material/angular-material';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

$bodyColor: #3d3d3d;
$screen-xs:	700px;
$screen-sm:	768px;
$screen-md:	992px;
$screen-lg:	1200px;

body {
	background-color: #666;
	background-image: url('/assets/images/bright-squares.png');
	color: #fff;
}

.pg-campaign,.pg-info,.pg-admin {
	background-color: #666;
	background-image: url('/assets/images/bright-squares.png');
}

table {
	margin-bottom: 0px !important;
	tbody {
		background: white;
	}	
}

.submit-error {
	color: red;
	font-size: 0.8em;
	padding: 5px;
}

// Component styles are injected through gulp
/* inject:scss */
@import 'admin/admin';
@import 'admin/campaign/campaign';
@import 'admin/campaign/info/info';
@import 'campaign/campaign';
@import 'main/main';
@import 'modals/campaignEditModal/campaignEditModal';
@import 'modals/errorModal/errorModal';
@import 'modals/NotificationModal/notificationModal';
@import 'modals/subscribeModal/subscribeModal';
@import 'styles/datepicker';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/navbar/navbar';
@import '../components/oauth-buttons/oauth-buttons';
/* endinject */
