$bodyColor: #3d3d3d;

.navbar-default {
	margin-bottom: 0px;
	background: $bodyColor;
	.navbar-brand {
		color: #fff;
		&:hover {
			color: #fff;
		}
	}
	.navbar-header {
		.navbar-toggle {
			width: 50px !important;
			height: 50px !important;
			md-icon {
				color: white;
			}
		}
	}
	.navbar-nav {
		li {
			a, .navbar-text {
				color: #d5d5d5;
			}
			a {
				&:hover {
					color: #fff;
				}
			}
		}
	}
}

@media only screen and (min-width : 768px) {
	.navbar-default {
		.navbar-header {
			.navbar-toggle {
				display: none;
			}
		}
	}
}