$bodyColor: #3d3d3d;

.navbar-default {
	margin-bottom: 0px;
	background: $bodyColor;
	.navbar-brand {
		color: #fff;
		&:hover {
			color: #fff;
		}
	}
	.navbar-nav {
		li {
			a, .navbar-text {
				color: #d5d5d5;
			}
			a {
				&:hover {
					color: #fff;
				}
			}
		}
	}
}