$bodyColor: #3d3d3d;

.navbar-default {
	margin-bottom: 0px;
	background: $bodyColor;
	.navbar-brand {
		padding: 5px 15px;
		img {
			height: 100%;
		}
	}
	.navbar-header {
		.navbar-toggle {
			width: 50px !important;
			height: 50px !important;
			md-icon {
				color: white;
			}
		}
	}
	.navbar-nav {
		li {
			a, .navbar-text {
				color: #d5d5d5;
			}
			&.active {
				a {
					background: white;
				}
			}
			a {
				&:hover {
					color: #fff;
				}
			}
		}
	}
}

@media only screen and (min-width : 769px) {
	.navbar-default {
		.navbar-nav {
			&.mobile {
				display: none;
			}
		}
		.navbar-header {
			.navbar-toggle {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.navbar-default {
		.navbar-collapse {
			.navbar-nav {
				display: none;
				&.mobile {
					display: block;
				}
				li {
					.navbar-text {
						padding: 10px 15px !important;
						margin: 0;
					}
				}
			}
		}
	}
}