<div class="pg-admin">
  <div class="container">
    <div class="admin campaign">
      <div ng-cloak>
        <md-content>
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Create a New Campaign">
              <md-content class="md-padding">
                <md-tabs md-dynamic-height md-border-bottom md-selected="admin.tabSelect">
                  <md-tab label="Select Artist">
                    <md-content>
                      <table class="table tb-artist">
                        <thead class="thead-inverse">
                          <tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th class="td-mobile-hide">Info</th>
                            <th>Price</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="artist in admin.artists" ng-click="admin.selectArtist(artist)">
                            <td><img src="{{artist.photo}}"></td>
                            <td>{{artist.name}}</td>
                            <td>{{artist.email}}</td>
                            <td class="td-mobile-hide">{{artist.info}}</td>
                            <td>${{artist.price}}</td>
                          </tr>
                        </tbody>
                      </table> 
                    </md-content>
                  </md-tab>
                  <md-tab label="Input data" ng-disabled="!admin.goInput">
                    <md-content class="md-padding">
                      <form name="form" novalidate class="campaignAddForm">
                        <div class="row">
                          <div class="col-md-3 col-sm-6 col-xs-12 artist-info">
                            <div class="col-md-12 col-sm-6 col-xs-4 ">
                              <img src="{{admin.selectedArtist.photo}}">
                            </div>
                            <div class="col-md-12 col-sm-6 col-xs-8">
                              <p>Name: {{admin.selectedArtist.name}}</p>
                              <p>Email: {{admin.selectedArtist.email}}</p>
                              <p>Info: {{admin.selectedArtist.info}}</p>
                              <p>Price: {{admin.selectedArtist.price}}</p>
                            </div>
                          </div>
                          <div class="col-xs-12 col-md-9">
                            <div class="form-group row">
                              <label for="city" class="col-xs-4 col-md-6 col-form-label">City</label>
                              <div class="col-xs-8 col-md-6">
                                <input class="form-control" type="text" ng-model="admin.campaign.city" name="campaignCity" required="">
                                <div ng-show="form.$submitted || form.campaignCity.$touched">
                                  <div ng-show="form.campaignCity.$error.required" class="submit-error">City field is required.</div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="state" class="col-xs-4 col-md-6 col-form-label">State</label>
                              <div class="col-xs-8 col-md-6">
                                <input class="form-control" type="text" ng-model="admin.campaign.state" name="campaignState" required="">
                                <div ng-show="form.$submitted || form.campaignState.$touched">
                                  <div ng-show="form.campaignState.$error.required" class="submit-error">State field is required.</div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="description" class="col-xs-4 col-md-6 col-form-label">Description</label>
                              <div class="col-xs-8 col-md-6">
                                <input class="form-control" type="text" ng-model="admin.campaign.description" name="campaignDescription">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="ends_date" class="col-xs-4 col-md-6 col-form-label">Ends date</label>
                              <div class="col-xs-8 col-md-6">
                                <datepicker date-format="yyyy-MM-dd" selector="form-control">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Choose a date" ng-model="admin.campaign.ends_date" name="endsDate" required="">
                                    </div>
                                </datepicker>
                                <div ng-show="form.$submitted || form.endsDate.$touched">
                                  <div ng-show="form.endsDate.$error.required" class="submit-error">Ends date field is required.</div>
                                </div>
                              </div>
                            </div>
                            <h3 style="border-bottom: 1px solid grey">Price</h3>
                            <div class="form-group row">
                              <label for="goal" class="col-xs-4 col-md-6 col-form-label">Goal</label>
                              <div class="col-xs-8 col-md-6">
                                <input class="form-control" type="text" ng-model="admin.campaign.goals" name="campaignGoals" required="">
                                <div ng-show="form.$submitted || form.campaignGoals.$touched">
                                  <div ng-show="form.campaignGoals.$error.required" class="submit-error">Goal field is required.</div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="vip_max" class="col-xs-4 col-md-6 col-form-label">VIP max count</label>
                              <div class="col-xs-8 col-md-6">
                                <input class="form-control" type="text" ng-model="admin.campaign.vip.max" name="campaignVIPmax" required="">
                                <div ng-show="form.$submitted || form.campaignVIPmax.$touched">
                                  <div ng-show="form.campaignVIPmax.$error.required" class="submit-error">VIP max field is required.</div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="vip_cost" class="col-xs-4 col-md-6 col-form-label">VIP guestlist</label>
                              <div class="col-xs-8 col-md-6">
                                <input class="form-control" type="text" ng-model="admin.campaign.vip.price" name="campaignVIPprice" required="">
                                <div ng-show="form.$submitted || form.campaignVIPprice.$touched">
                                  <div ng-show="form.campaignVIPprice.$error.required" class="submit-error">VIP guestlist field is required.</div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="general_price" class="col-xs-4 col-md-6 col-form-label">General Admission</label>
                              <div class="col-xs-8 col-md-6">
                                <input class="form-control" type="text" ng-model="admin.campaign.general_price" name="campaignGeneralPrice" required="">
                                <div ng-show="form.$submitted || form.campaignGeneralPrice.$touched">
                                  <div ng-show="form.campaignGeneralPrice.$error.required" class="submit-error">General Admission field is required.</div>
                                </div>
                              </div>
                            </div>                     
                          </div>
                        </div>
                        <div class="row col-xs-12">
                          <button class="btn btn-primary" type="submit" ng-click="admin.submit()">Submit</button>
                          <button class="btn btn-primary" ng-click="admin.reset(form)">Clear</button>
                        </div>
                      </form>
                    </md-content>
                  </md-tab>
                </md-tabs>
              </md-content>
            </md-tab>
            <md-tab label="View campaign list">
              <md-content class="md-padding">
                <table class="table tb-campaign">
                  <thead class="thead-inverse">
                    <tr>
                      <th>Artist Name</th>
                      <th>City</th>
                      <th>State</th>
                      <th class="td-mobile-hide">Description</th>
                      <th>Goals</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="campaign in admin.campaigns">
                      <td >{{campaign.artistName}}</td>
                      <td>{{campaign.city}}</td>
                      <td>{{campaign.state}}</td>
                      <td class="td-mobile-hide">{{campaign.description}}</td>
                      <td>{{campaign.goals}}</td>
                      <td style="display: flex;">
                        <a style="color:#666;" ui-sref="campaignAdminInfo({campaignID: campaign._id})"><span class="fa fa-edit fa-2x"></span></a>
                        <a ng-click="admin.deleteCampaign(campaign)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>
    </div>
  </div>
</div>