<div class="container">
  <div class="admin">
    <form class="artist-form">
      <div class="panel panel-primary">
        <div class="panel-heading">Add a new artist</div>
        <div class="panel-body new-artist-form">
          <div class="input-group">
            <span>Name</span>
            <input type="text" class="form-control" placeholder="Name" ng-model="admin.artist.name" required>  
          </div>
          <div class="photo-select">
            <span>Photo</span>
            <div class="photo-upload">
              <img ngf-thumbnail="file || 'assets/images/default-user.png'">
              <form ng-app="fileUpload" name="form">
                <div class="btn btn-primary" ngf-select="admin.upload($file)" ng-model="file" ngf-pattern="'image/*'"
                  ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
                  ngf-resize="{width: 100, height: 100}">Select Photo</div>
                <!-- <button type="submit" ng-click="admin.submit()">submit</button> -->
              </form>
              <!-- <div class="button" ng-model="file" ngf-select="admin.upload($file)">Upload on file select</div> -->
              <!-- <input type="text" class="form-control" ng-model="admin.photo"> -->
              <p>{{admin.photoName}}</p>
            </div>
          </div>
          <div class="input-group">
            <span>Email</span>
            <input type="text" class="form-control" placeholder="Email" ng-model="admin.artist.email">
          </div>
          <div class="input-group">
            <span>Info</span>
            <!-- <input type="text" class="form-control" placeholder="Info" ng-model="admin.artist.info"> -->
            <textarea class="form-control" rows="5" id="comment" ng-model="admin.artist.info"></textarea>
          </div>
          <!-- <div class="input-group">
            <span>Photo</span>
            <input type="file" nav-file-select="" uploader="uploader">
          </div> -->
          
          <button type="submit" class="btn btn-primary" ng-click="admin.addArtist()">Add New</button>
          
        </div>
      </div>
    </form>

    <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="artist in admin.artists">
          <td>{{artist.name}}</td>
          <td>{{artist.email}}</td>
          <td>{{artist.info}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>