<div class="banner">
	<div class="container">
		<div class="description">
			<h1>Reach the crowds</h1>
			<h4>Entusic. Where fans and artists connect.</h4>
			<md-button class="md-raised md-warn">Sign Up</md-button>
		</div>
	</div>
</div>
<div class="pg-campaign">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
		  		<md-list flex>
		  			<md-list-item class="md-3-line" ng-repeat="campaign in $ctrl.campaigns" ng-click="$ctrl.goCampaignInfo(campaign)">
		  				<img class="md-avatar" ng-src="{{campaign.artistPhoto}}">
		  				<div class="md-list-item-text" layout="column">
		  					<h3>{{campaign.artistName}}</h3>
		  					<h4>{{campaign.city}} {{campaign.state}}</h4>
		  					<p>{{campaign.description}}</p>
		  					<p class="md-secondary">{{campaign.vip_max - campaign.vip_sold}} VIP tickets left</p>
		  				</div>
		  			</md-list-item>
		  		</md-list>
			</div>
		</div>
	</div>
</div>