<div class="container">
	<div class="row">
		<div class="col-lg-12">
		  <h1 class="page-header">Campaigns</h1>
		  <table class="table">
		    <thead class="thead-inverse">
		      <tr>
		        <th>Artist ID</th>
		        <th>City</th>
		        <th>State</th>
		        <th class="tb-description">Description</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="campaign in $ctrl.campaigns">
		        <td><a ui-sref="campaignInfo({campaignID: campaign._id})">{{campaign.artistID}}</td>
		        <td>{{campaign.city}}</td>
		        <td>{{campaign.state}}</td>
		        <td class="tb-description">{{campaign.description}}</td>
		      </tr>
		    </tbody>
		  </table>
		</div>
		<!-- <form class="thing-form">
	    <label>Syncs in realtime across clients</label>
	    <p class="input-group">
	      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newCampaign">
	      <span class="input-group-btn">
	        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addCampaign()">Add New</button>
	      </span>
	    </p>
	  </form> -->
	</div>
</div>