.popup-modal {
  .modal-content {
    color: black;
    .modal-header {
      h3 {
        float: left;
      }
      .close-modal {
        float: right;
      }
    }
    .modal-body {
      .content-box {
        p {
          color: black;
        }
      }
    }
  }
}
